@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
  outline: none;
}
body{
 background-color: #000000;
  color: white;
  
}

::-webkit-scrollbar{
    display: none;
}

.loader{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
 border-bottom: 3px solid #1D9BF0;
 animation: spin 0.7s infinite linear;
}

.edit-box{
  background-color: rgba(87, 82, 82, 0.253);
}

@keyframes spin {
  0%{
    transform:rotate(0deg) ;
  }100%{
    transform: rotate(360deg);
  }
}

