@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
  outline: none;
}
body{
 background-color: #000000;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}
