@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
  outline: none;
}
body{
 background-color: #000000;
  color: white;
  
}

::-webkit-scrollbar{
    display: none;
}

.loader{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #1D9BF0 ;
 border-bottom: 3px solid white;
 animation: spin 1s infinite linear;
}

@keyframes spin {
  0%{
    transform:rotate(0deg) ;
  }100%{
    transform: rotate(360deg);
  }
}
